.form {
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.input {
  height: 38px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
}
.input:focus {
  outline: none;
  border: 1px solid #0099ff;
}
