.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95%;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.home h1 {
  color: #3e548f;
}
.home h2 {
  color: #0099ff;
  text-align: center;
}
.home p {
  color: #000;
}
.signup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  width: 100%;
}
